/* --- Styles de base pour l'ouverture/fermeture du menu --- */

/* Règle générale du menu fermé (par défaut) */
.menu {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out, visibility 0.3s step-end; /* Pour un effet de fondu */
}

.header__menu-btn::before {
  content: url("../../public/icones/StreamlineHome3Remix.svg"); 
}

/* Règle du menu OUVERT (quand JS met aria-hidden="false") */
/* /* On se sert de javascript pour gérer l'ouverture et la fermeture du menu avec l'attribut "aria-hidden" */
.menu[aria-hidden="false"] {
  visibility: visible;   /* Rend le menu visible */
  opacity: 1;            /* Rend le menu complètement opaque */
  transition: opacity 0.3s ease-out, visibility 0.3s step-start; /* Pour un effet de fondu */
}

/* --- Tâche 2 : Empêcher le scroll --- */
/* Fait que l'élément body ait la classe noscroll quand le menu est ouvert */
body.noscroll {
  overflow: hidden; /* Empêche la barre de défilement */
}